@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --font-family: KaTeX_Main, Times, 'Noto Serif SC', serif !important;
    --font-family-code: 'JetBrains Mono', Monaco, monospace !important;
}

.custom-container.details{
    background: transparent !important;
    border: 1px solid var(--detail-bg-color);
    box-shadow: 0 2px 2px 0 var(--detail-bg-color);
}

mark {
    color: var(--c-fg);
    background: rgba(89, 218, 160, 0.3);
    padding: 0.25rem 0.25rem;
    border-radius: 0.25rem;
    margin: 0 0.05rem;
}

.theme-default-content img {
    display: block;
    margin: 1rem auto;
}