@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --font-family: KaTeX_Main, Times, 'Noto Serif SC', serif !important;
    --font-family-code: 'JetBrains Mono', monospace !important;
}

mark {
    color: var(--c-fg);
    background: rgba(89, 218, 160, 0.3);
    padding: 0.1rem 0.15rem;
    border-radius: 0.15rem;
    margin: 0 0.1rem;
}