.callout-title>.callout-title-content::before{
    margin-right: 0.5rem;
    vertical-align: middle;
}

.callout-title {
    display: flex !important;
    align-items: center;
}

:root {
    --callout-note: 68, 138, 255;
    --callout-abstract: 0, 176, 255;
    --callout-info: 0, 184, 212;
    --callout-tip: 0, 191, 165;
    --callout-success: 8, 185, 78;
    --callout-question: 224, 172, 0;
    --callout-warning: 255, 145, 0;
    --callout-failure: 255, 82, 82;
    --callout-danger: 255, 23, 68;
    --callout-bug: 245, 0, 87;
    --callout-quote: 158, 158, 158;
}

.callout.caution>.callout-title>.callout-title-content::before,
.callout.warning>.callout-title>.callout-title-content::before,
.callout.attention>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 145, 0)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-alert-triangle"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>');
}

.sl-markdown-content details.caution:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.caution:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.warning:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.warning:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.attention:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.attention:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-warning));
}


.callout.note>.callout-title>.callout-title-content::before,
.callout.seealso>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(68, 138, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-pencil"><line x1="18" y1="2" x2="22" y2="6"></line><path d="M7.5 20.5 19 9l-4-4L3.5 16.5 2 22z"></path></svg>');
}

.sl-markdown-content details.note:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.note:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.seealse:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.seealso:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-note));
}

.callout.abstract>.callout-title>.callout-title-content::before,
.callout.summary>.callout-title>.callout-title-content::before,
.callout.tldr>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(0, 176, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-clipboard-list"><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><path d="M12 11h4"></path><path d="M12 16h4"></path><path d="M8 11h.01"></path><path d="M8 16h.01"></path></svg>');
}

.sl-markdown-content details.abstract:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.abstract:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.summary:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.summary:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.tldr:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.tldr:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-abstract));
}

.callout.info>.callout-title>.callout-title-content::before,
.callout.todo>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(0, 184, 212)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-check-circle-2"><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path><path d="m9 12 2 2 4-4"></path></svg>')
}

.sl-markdown-content details.info:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.info:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.todo:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.todo:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-info));
}

.callout.tip>.callout-title>.callout-title-content::before,
.callout.hint>.callout-title>.callout-title-content::before,
.callout.important>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(0, 191, 165)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-flame"><path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"></path></svg>')
}

.sl-markdown-content details.tip:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.tip:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.hint:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.hint:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.important:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.important:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-tip));
}

.callout.success>.callout-title>.callout-title-content::before,
.callout.check>.callout-title>.callout-title-content::before,
.callout.done>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(0, 200, 83)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-check"><polyline points="20 6 9 17 4 12"></polyline></svg>')
}

.sl-markdown-content details.success:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.success:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.check:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.check:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.done:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.done:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-success));
}

.callout.question>.callout-title>.callout-title-content::before,
.callout.help>.callout-title>.callout-title-content::before,
.callout.faq>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(224, 172, 0)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>')
}

.sl-markdown-content details.question:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.question:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.help:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.help:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.faq:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.faq:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-question));
}

.callout.failure>.callout-title>.callout-title-content::before,
.callout.fail>.callout-title>.callout-title-content::before,
.callout.missing>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 82, 82)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>')
}

.sl-markdown-content details.failure:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.failure:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.fail:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.fail:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.missing:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.missing:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-failure));
}

.callout.danger>.callout-title>.callout-title-content::before,
.callout.error>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 23, 68)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>')
}

.sl-markdown-content details.danger:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.danger:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.error:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.error:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-danger));
}

.callout.bug>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(245, 0, 87)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-bug"><rect x="8" y="6" width="8" height="14" rx="4"></rect><path d="m19 7-3 2"></path><path d="m5 7 3 2"></path><path d="m19 19-3-2"></path><path d="m5 19 3-2"></path><path d="M20 13h-4"></path><path d="M4 13h4"></path><path d="m10 4 1 2"></path><path d="m14 4-1 2"></path></svg>');
}

.sl-markdown-content details.bug:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.bug:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-bug));
}

.callout.example>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(124, 77, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>')
}

.callout.quote>.callout-title>.callout-title-content::before,
.callout.cite>.callout-title>.callout-title-content::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="rgb(158, 158, 158)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-quote"><path d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"></path><path d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"></path></svg>')
}

.sl-markdown-content details.quote:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.quote:has(> summary:hover):not(:where(.not-content *)),
.sl-markdown-content details.cite:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details.cite:has(> summary:hover):not(:where(.not-content *)) {
    border-color: rgba(var(--callout-cite));
}
