.mermaid.loading {
    font-family: var(--font-mono);
    opacity: 0.2;
    white-space: pre;
}

.mermaid.loading br {
    display: none;
}

.mermaid.loading::before {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWRhc2hhcnJheT0iMTUiIHN0cm9rZS1kYXNob2Zmc2V0PSIxNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xMiAzQzE2Ljk3MDYgMyAyMSA3LjAyOTQ0IDIxIDEyIj48YW5pbWF0ZSBmaWxsPSJmcmVlemUiIGF0dHJpYnV0ZU5hbWU9InN0cm9rZS1kYXNob2Zmc2V0IiBkdXI9IjAuM3MiIHZhbHVlcz0iMTU7MCIvPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgZHVyPSIxLjVzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgdHlwZT0icm90YXRlIiB2YWx1ZXM9IjAgMTIgMTI7MzYwIDEyIDEyIi8+PC9wYXRoPjwvc3ZnPg==');
    position: absolute;
    transform: scale(3);
    transform-origin: left top;
}

[data-theme="light"] .mermaid:not(.theme-dark) {
    opacity: 1;
    display: block;
}

[data-theme="light"] .mermaid.theme-dark {
    opacity: 0;
    display: block;
}

[data-theme="dark"] .mermaid:not(.theme-dark) {
    opacity: 0;
    display: block;
}

[data-theme="dark"] .mermaid.theme-dark {
    opacity: 1;
    display: block;
}

.mermaid.theme-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}