.theme-light {
  --prism-foreground: #393a34;
  --prism-background: #fbfbfb;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2f8a89;
  --prism-number: #296aa3;
  --prism-keyword: #1c6b48;
  --prism-function: #6c7834;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #968531; /* #b58451; */
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
  --prism-selector: #6c7834;
  --un-prose-borders: #dddddd;
}

body {
  --color-red-rgb: 171, 89, 89;
  --color-red: var(--prism-builtin);
  --color-green-rgb: 28, 107, 72;
  --color-green: var(--prism-boolean);
  --color-orange: var(--prism-constant);
  --color-yellow: var(--prism-property);
  --color-cyan: var(--prism-class);
  --color-blue: var(--prism-number);
  --color-purple: #9264aa;
  --color-pink: var(--prism-namespace);

  --code-background: var(--background-primary-alt);
  --code-normal: var(--text-muted);
  --code-comment: var(--prism-comment);
  --code-function: var(--prism-function);
  --code-important: var(--color-orange);
  --code-keyword: var(--prism-keyword);
  --code-property: var(--prism-property);
  --code-punctuation: var(--prism-punctuation);
  --code-string: var(--prism-string);
  --code-tag: var(--prism-keyword);
  --code-value: var(--color-purple);

  --h1-color: var(--prism-deleted);
  --h2-color: var(--prism-regex);
  --h3-color: var(--prism-property);
  --h4-color: var(--prism-function);
  --h5-color: var(--prism-class);
  --h6-color: var(--prism-number);
}

.theme-dark  {
  --prism-foreground: #d4cfbf;
  --prism-background: #151515;
  --prism-comment: #758575;
  --prism-string: #d48372;
  --prism-literal: #429988;
  --prism-keyword: #4d9375;
  --prism-boolean: #1c6b48;
  --prism-number: #6394bf;
  --prism-variable: #c2b36e;
  --prism-function: #a1b567;
  --prism-deleted: #a14f55;
  --prism-class: #54b1bf;
  --prism-builtin: #e0a569;
  --prism-property: #b6aa6e; /* #dd8e6e; */
  --prism-namespace: #db889a;
  --prism-punctuation: #858585;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
  --prism-selector: #a1b567;
  --un-prose-borders: #333333;
}
